In [ ]:
import pandas as pd
import numpy as np

# Loading DataSet

## Dataset having 2 columns with same name

- I created a test.csv file that has 2 columns with exact same name with different values and as you can see, pandas when loading it, adds numbering to the column name.
- After reading data and creating a dataframe, we can't create another column with same name and set values in that column because in that case it will work as data modification than adding a new column.

In [ ]:
df_test = pd.read_csv('test.csv')

df_test

### Let's load our dataset

In [ ]:
df = pd.read_csv('netherlands_IT_salaries_15.csv')
df.head()

## Dtat exploration

In [ ]:
df.shape

In [ ]:
df.info()

## Accessing to colums or columns

In [ ]:
# Selecting one column
salaries = df['Salary']

salaries

In [ ]:
# Selecting multiple columns
selected_colums = df[['Role', 'Salary']]

selected_colums

## Column aggrigiation

In [ ]:
total_age = df['Age'].sum()
average_age = df['Age'].mean()

print(total_age, average_age)

In [ ]:
city_counts = df['City'].value_counts()

print(city_counts)

## Column renaming

In [ ]:
# Rename of column
df.rename(columns={'Year':'Date'}, inplace=True)

df

# Exercises

## DataFrame Operations

In [ ]:
# Add a new column named Bonus with values calculated by Experience year multiplied by 2
df['Bonus'] = df['Experience'] * 2

df

In [ ]:
# Delete the newly created column 'Bonus' from the DataFrame
df.drop(columns=['Bonus'], inplace=True)

df

In [ ]:
# Delete the employee with 'Role' as Helpdeskmanager from the DataFrame
df = df[df['Role'] != 'Helpdeskmanager']

df

In [ ]:
# Delete the employee with 'Role' as Helpdeskmanager from the DataFrame using loc method
df = df.loc[df['Role'] != 'Helpdeskmanager']

df

In [ ]:
# Modify the 'Salary' of the employee in Amsterdam to 20% more
df.loc[df['City'] == 'Amsterdam', 'Salary'] *= 1.2
df

In [ ]:
df.loc[df['City'] == 'Amsterdam', 'Salary'] * 1.2

## Filtering

In [ ]:
# Filter the DataFrame to show only the employees with 'Experience' greater than 5 years
df_exp_over_5 = df[df['Experience'] > 5]

df_exp_over_5

In [ ]:
# Filter the DataFrame to show only the employees with 'Salary' less than 4000
df_salary_less_5000 = df[df['Salary'] < 4000]

df_salary_less_5000

In [ ]:
# Filter the DataFrame to show only the employees who are 'Product Ownerâ€™
df_product_owners = df[df['Role'] == 'Product Owner']

df_product_owners

In [ ]:
# Filter the DataFrame to show only the employees who have a 'HBO' education
df_hbo_education = df[df['Education'] == 'HBO']

df_hbo_education

In [ ]:
# Filter the DataFrame to show only the employees who are not in 'Amsterdam'
df_not_in_amsterdam = df[df['City'] != 'Amsterdam']

df_not_in_amsterdam

## Advance Conditional Selection

In [ ]:
# Select and display rows where 'Salary' is between 4000 and 5000
salary_between_4k_and_5k = df[(df['Salary'] >= 4000) & (df['Salary'] <= 5000)]

salary_between_4k_and_5k

In [ ]:
# Select and display rows where 'Role' is either 'Product Owner' or 'IT Consultant'
df_PO_IT = df[(df['Role'] == 'Product Owner') | (df['Role'] == 'IT Consultant')]

df_PO_IT

In [ ]:
# Select and display rows where 'City' is 'Amsterdam' and 'Experience' is less than 10 years, or 'City' is 'Rotterdam'
amsterdam_experience_or_rotterdam = df[((df['City'] == 'Amsterdam') & (df['Experience'] < 10)) | (df['City'] == 'Rotterdam')]

amsterdam_experience_or_rotterdam

In [ ]:
# Select and display rows where 'Role' is 'Product Owner' and 'Experience' is greater than 5 or 'Salary' is greater than 4500
product_owner_exp_or_salary = df[((df['Role'] == 'Product Owner') & (df['Experience'] > 5)) | (df['Salary'] > 4500)]

product_owner_exp_or_salary

In [ ]:
# Select and display rows where 'Education' is 'MBO' and 'City' is not 'Apeldoorn' or 'Experience' is less than 8
mbo_not_apeldoorn_or_exp_less_8 = df[((df['Education'] == 'MBO') & (df['City'] != 'Apeldoorn')) | (df['Experience'] < 8)]

mbo_not_apeldoorn_or_exp_less_8